[Unit]
Description=Laser Display Screen
After=multi-user.target

[Service]
Type=idle
User=bkg
ExecStart=/bin/bash /home/bkg/wallboard/kiosk.sh
RestartSec=60s

[Install]
WantedBy=multi-user.target
